---
layout: default
title: "News Archive"
permalink: /news/
---
<main class="wrap">
  <a href="/">
    <img src="{{ '/assets/images/powder.png' | relative_url }}" alt="The Royal Family" class="header-image">
  </a>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="small">{{ post.date | date: "%Y-%m-%d" }}</span>
        {% if post.categories %}
          <span class="small">
            {% for cat in post.categories %}
              {% include category-badge.html category=cat %}
              <a href="/categories/{{ cat | downcase | urlencode }}/">{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</main>
