<head>
  <meta charset="utf-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 155 | default: site.description }}">
  {%- seo -%}
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/nes.min.css' | relative_url }}">
  <link href="{{ '/styles.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/category-badges.css' | relative_url }}" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ '/feed.xml' | relative_url }}">
</head>